<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Build.Framework" version="16.9.0" targetFramework="net462" />
  <package id="Microsoft.Build.Utilities.Core" version="16.9.0" targetFramework="net462" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net462" />
  <package id="MonoMod" version="21.8.5.1" targetFramework="net462" />
  <package id="MonoMod.RuntimeDetour" version="21.8.5.1" targetFramework="net462" />
  <package id="MonoMod.RuntimeDetour.HookGen" version="21.8.5.1" targetFramework="net462" />
  <package id="MonoMod.Utils" version="21.8.5.1" targetFramework="net462" />
</packages>